Statistics coded: Tourism Statistics

Prepared by Sarah Hadj Hassen.

In [ ]:
#install.packages(c("ggplot2", "plotly", "tidyr", "repr", "dplyr", "devtools", "restatapi"))
#install.packages("eurostat")
#install.packages("patchwork")
#install.packages("Matching")

library(ggplot2)
library(tidyr)
library(dplyr)
library(eurostat)
library(Matching)
library(stats)

In [ ]:
# create first graph
## tourism destinations - nights spent at toursit accommondation establishments, 2018

data <- get_eurostat(id="tour_occ_ninat")
nrow(data)

# first check whether all countries needed and create countries vector
countr <- c("ES","IT","FR","EL","AT","DE","HR","PT","NL","CZ","BE","BG","PL","IE","CY","SE","HU","DK","SI",
                         "MT","FI","SK","RO","EE","LV","LT","LU","UK","CH","NO","IS","LI","TR","ME","RS","MK","XK")
sort(countr)
sort(levels(data$geo))
levels(data$c_resid)
levels(data$nace_r2)

In [ ]:
# for Ireland, Slovenia, United Kingdom, Switzerland, Norway, Iceland, Montenegro, Serbia and Kosovo we need 2018 monthly data
data_month <- get_eurostat(id="tour_occ_nim")
nrow(data_month)

data_month$year <- as.integer(substr(data_month$time,1,4))
data_month$month <- as.integer(substr(data_month$time,6,7))

countr2 <- c("IE","SI","UK","CH","NO","IS","ME","RS","XK")

data_mod <- subset(data_month, 
                    data_month$geo %in% countr2 & 
                    data_month$year==2018 &
                    data_month$c_resid=="FOR" &
                    data_month$nace_r2=="I551-I553"&
                    data_month$unit=="NR")

nrow(data_mod)
levels(data_mod$geo)

data_mod1 <- aggregate(data_mod$values, by = list(geo = data_mod$geo), FUN = sum)
names(data_mod1)[2] <- "values"

In [ ]:
# building needed subset for the other countries
data$year <- as.integer(substr(data$time,1,4))
head(data)

data_mod2 <- subset(data, 
                    data$geo %in% countr & 
                    data$year==2018 &
                    data$c_resid=="FOR" &
                    data$nace_r2=="I551-I553"&
                    data$unit=="NR")
nrow(data_mod2)
data_mod2 <- data_mod2[,c(4,6)]
data_mod2

In [ ]:
# for Turkey we need data from 2016
countr3 <- c("TR")

data_mod3 <- subset(data, 
                    data$geo %in% countr3 & 
                    data$year==2016 &
                    data$c_resid=="FOR" &
                    data$nace_r2=="I551-I553"&
                    data$unit=="NR")
data_mod3 <- data_mod3[,c(4,6)]
data_mod3

In [ ]:
#match data_mod1 and data_mod2 and data_mod3
data_mod4 <- rbind(data_mod1,data_mod2,data_mod3)
data_mod4

In [ ]:
# bring the country names in the order the grpahik shows
data_mod4$geo <- factor(data_mod4$geo,
                        levels = c("ES","IT","FR","EL","AT","DE","HR","PT","NL","CZ","BE","BG","PL","IE","CY","SE","HU",
                                   "DK","SI", "MT","FI","SK","RO","EE","LV","LT","LU","UK","CH","NO","IS","LI","TR","ME",
                                   "RS","MK","XK"))
data_mod4

In [ ]:
options(scipen=999)
ggplot(data_mod4, aes(x=geo,y=values)) +
            geom_bar(stat = "identity", position="dodge", width=0.5, fill="steelblue3") +
            theme_classic() +
            scale_y_continuous(limits = c(0, 310000000), breaks = seq(0, 300000000, by = 50000000)) +
            ggtitle("Tourism destinations - nights spent at tourist accomodation establishments, 2018")