## Statistics coded: People at risk of poverty or social exclusion 

Illustrating https://ec.europa.eu/eurostat/statistics-explained/index.php?title=People_at_risk_of_poverty_or_social_exclusion.

Let's use the package [`pandasdmx`](https://github.com/dr-leo/pandaSDMX) as an interface to _Eurostat_ SDMX since it specifically offers a connector to its online database.

In [6]:
import pandasdmx
from pandasdmx import Request

In [40]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

Following the example provided with the package (see documentation [here](https://pandasdmx.readthedocs.io/en/latest/), in particular some [basic usage](https://pandasdmx.readthedocs.io/en/latest/usage.html#overview)), we download the metadata and expose it as a dict mapping resource names to `pandas` DataFrames:

In [30]:
estat = Request('ESTAT')
flow_response = estat.dataflow('ilc_peps01')
structure_response = flow_response.dataflow.ilc_peps01.structure(request=True, target_only=False)

Similarly, we show some code lists:

In [31]:
structure_response.write().codelist.loc['GEO'].head()

    dim_or_attr         name
GEO           D          GEO
AT            D      Austria
BE            D      Belgium
BG            D     Bulgaria
CH            D  Switzerland

In [25]:
resp = estat.data('ilc_peps01', key={'UNIT': 'PC'}, params={'startPeriod': '2017', 'endPeriod': '2017'})

We use a generator expression to select some columns and write them to a `pandas` DataFrame:

In [118]:
myfilter = (s for s in resp.data.series if s.key.AGE == 'TOTAL' and s.key.SEX == 'T')
data = resp.write(myfilter, asframe=True)
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

UNIT           PC                                                      ...   \
AGE         TOTAL                                                      ...
SEX             T                                                      ...
GEO            AT    BE    BG  CH    CY    CZ    DE    DK    EA  EA18  ...
FREQ            A     A     A   A     A     A     A     A     A     A  ...
TIME_PERIOD                                                            ...
2017         18.1  20.3  38.9 NaN  25.2  12.2  19.0  17.2  22.1  22.1  ...

UNIT
AGE
SEX
GEO            NO    PL    PT    RO    RS    SE    SI    SK    TR    UK
FREQ            A     A     A     A     A     A     A     A     A     A
TIME_PERIOD
2017         16.0  19.5  23.3  35.7  36.7  17.7  17.1  16.3  41.3  22.0

[1 rows x 40 columns]

Let's explore the data set. We show the dimension names and the corresponding dimension values:

In [62]:
data.columns.names

FrozenList(['UNIT', 'AGE', 'SEX', 'GEO', 'FREQ'])

In [28]:
data.columns.levels

FrozenList([['PC'], ['TOTAL'], ['T'], ['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EA', 'EA18', 'EA19', 'EE', 'EL', 'ES', 'EU', 'EU27', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK'], ['A']])

In [75]:
data.loc[:, ('PC', 'TOTAL', 'T', 'BE', 'A')]

TIME_PERIOD
2017    20.3
Freq: A-DEC, Name: (PC, TOTAL, T, BE, A), dtype: float64

In [35]:
ctry_protocol_order = ["DK", "RO", "ES", "EL", "IT", "SE", "BG", "LU", "PT", "NL", "DE", "FI", "IE", "BE", "FR", "EE", "AT", "UK", "PL", "HR", "CY", "LV", "HU", "SK", "MT", "SI", "CZ", "NO", "CH", "IS", "RS", "MK", "TR"]

In [39]:
type(data)

pandas.core.frame.DataFrame

In [49]:
data

UNIT           PC                                                      ...   \
AGE         TOTAL                                                      ...
SEX             T                                                      ...
GEO            AT    BE    BG  CH    CY    CZ    DE    DK    EA  EA18  ...
FREQ            A     A     A   A     A     A     A     A     A     A  ...
TIME_PERIOD                                                            ...
2017         18.1  20.3  38.9 NaN  25.2  12.2  19.0  17.2  22.1  22.1  ...

UNIT
AGE
SEX
GEO            NO    PL    PT    RO    RS    SE    SI    SK    TR    UK
FREQ            A     A     A     A     A     A     A     A     A     A
TIME_PERIOD
2017         16.0  19.5  23.3  35.7  36.7  17.7  17.1  16.3  41.3  22.0

[1 rows x 40 columns]

In [41]:
data['GEO'] = pd.Categorical(data['GEO'], ["EU28",] + ctry_protocol_order)

KeyError: 'GEO'

In [99]:
df = data.T
df.columns.name

'TIME_PERIOD'

In [78]:
data.columns

MultiIndex(levels=[['PC'], ['TOTAL'], ['T'], ['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EA', 'EA18', 'EA19', 'EE', 'EL', 'ES', 'EU', 'EU27', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK'], ['A']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
           names=['UNIT', 'AGE', 'SEX', 'GEO', 'FREQ'])

In [102]:
data.xs("EU28", level='GEO', axis=1)

UNIT           PC
AGE         TOTAL
SEX             T
FREQ            A
TIME_PERIOD
2017         22.4

In [122]:
df = data.unstack()
type(df)

pandas.core.series.Series

In [121]:
pd.MultiIndex.from_tuples(df.index)

MultiIndex(levels=[['PC'], ['TOTAL'], ['T'], ['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EA', 'EA18', 'EA19', 'EE', 'EL', 'ES', 'EU', 'EU27', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK'], ['A'], [2017]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [125]:
df[('PC', 'TOTAL', 'T', 'EU28', 'A')]

TIME_PERIOD
2017    22.4
Freq: A-DEC, dtype: float64

In [130]:
df.'EU28', 'A')]

Series([], dtype: float64)

In [132]:
data.droplevel('UNIT')

AttributeError: 'DataFrame' object has no attribute 'droplevel'